<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./favicon.png" type="image/jpeg" />
  <title>Angular.js Training</title>
  <script src="./Angular.js"></script>
  <script src="./trainings.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
  <link rel="stylesheet" href="./bootstrap-rtl.css" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body ng-app ng-controller="MyController">
  <div class="headTitle">
    <h1>ANGULAR.JS COURSE</h1>
    <div class="btns__wrapper">
      <button role="div" class="user__info" ng-show="isUserLoggedIn">
        <i class="ph-fill ph-user"></i>
        <p>{{username}}</p>
      </button>
      <button class="icon pill" id="login__btn" ng-click="loginModalHandler()">
        <i class="ph-fill ph-key"></i>
      </button>

      <button class="icon pill" id="theme__btn" ng-click="themeToggle()">
        <i class="ph-fill ph-sun"></i>
      </button>
    </div>
  </div>

  <div class="modal login__modal">
    <div class="modal__content">
      <div class="modal__header">
        <h3>LOGIN</h3>
        <button class="icon md destructive" id="close__login__modal">
          <i class="ph ph-x"></i>
        </button>
      </div>
      <div class="modal__body login__body">
        <input type="text" ng-model="username" placeholder="Username">
        <input type="password" ng-model="password" placeholder="password">
        <button ng-click="loginHandler()">LOGIN</button>
      </div>
    </div>
  </div>

  <!--//^ EXAM 1 -->
  <!-- <div class="container" ng-init="name='Pourya Soleimani' ; number = 10">
    <div class="input__wrapper">
      Name :<input type="text" ng-model="name" placeholder="Enter your name" />
    </div>
    <div class="results__wrapper">
      <p class="result__item"> Hello {{name.toUpperCase()}} </p>
      <p class="result__item">Hello <span ng-bind="name.toUpperCase()"></span></p>
      <p class="result__item">SUM : {{5 + 1}} </p>
      <p class="result__item">NUMBER : {{number}} </p>
    </div>
  </div> -->

  <!--//^ EXAM 2 -->
  <!-- <div class="container" ng-controller="MyController">
    Name : <input type="text" ng-model="name">
    <br>
    Family : <input type="text" ng-model="family">
    <br>
    Hello Dear {{ name + " " + family }}
  </div> -->

  <!--//^ EXAM 3 -->
  <!-- <div class="container" ng-init="count=5;price=1220">
    Count is <input type="number" name="" id="" ng-model="count">
    <br>
    Sum : {{ count * price }}
  </div> -->

  <!--//^ EXAM 4 -->
  <!-- <div class="container" ng-init="person={name : 'Pourya',family : 'Soleimani' , age : 32 , }">
    Result => {{ person.name }} {{person.family}} : {{person.age}} Years Old
  </div> -->

  <!--//^ EXAM 5 -->
  <!-- <div class="container" ng-init="numbers=[1,3,5,7,9,11]">
    <div class="numbers__wrapper">
      Numbers is {{numbers[3]}}
    </div>
  </div> -->

  <!--//^ EXAM 6 -->
  <!-- <div class="container" ng-init="names=['pourya','ashkan','shahriyar']">
    Name is {{ names[0] }}
    <ul class="names__wrapper">
      <li class="single__name" ng-repeat="n in names">{{n.toUpperCase()}}</li>
    </ul>
  </div> -->

  <!--//^ EXAM 7 -->
  <!-- <div class="container" ng-app ng-controller="MyController">
    Name is {{ names[0] }}
    <ul class="names__wrapper">
      <li class="single__name" ng-repeat="n in people">
        {{n.firstname.toUpperCase()}} {{n.lastname.toUpperCase()}} . {{n.age}}
      </li>
    </ul>
  </div> -->

  <!--//^ EXAM 8 -->
  <!-- <div class="container">
    <div class="input__wrapper">
      <input type="text" ng-model="name__filter" placeholder="Search ...">
    </div>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th class="first__th">First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
      <tr ng-repeat="p in people | orderBy:'id' | filter : name__filter">
        <td>{{p.id}}</td>
        <td>{{p.firstname.toUpperCase()}}</td>
        <td>{{p.lastname.toUpperCase()}}</td>
        <td>{{p.age}}</td>
      </tr>
    </table>
    </ul>
  </div> -->

  <!--//^ EXAM 9 -->
  <!-- <div class="container" ng-app ng-controller="MyCrtl">
    Name : <input type="text" ng-model="name">
    <br>
    Family : <input type="text" ng-model="family">
    <br>
    {{name}} {{family}}
    <br>
    <br>
    FULLNAME : {{fullName()}}
  </div> -->

  <!--//^ EXAM 10 -->
  <!-- <div class="container" ng-app ng-init="count=5;price=200;">
    Count : <input type="number" ng-model="count">
    <br>
    Sum => {{(count * price).toLocaleString()}} Rials
    <br>
    <button ng-disabled="count<1" class="btn__success">Buy</button>
    <p class="error__text" ng-show="count < 1">⛔ Invalid Count</p>
    <p ng-hide="count < 1">🟩 Thanks For Buying</p>
  </div> -->

  <!--//^ EXAM 11 -->
  <!-- <div class="container" ng-app="appModule" ng-controller="AppController">
    <button ng-click="logger()">CLICK ME</button>
    <br>
    FULLNAME : {{name}} {{family}}
  </div> -->


  <!--//^ EXAM 12 -->
  <!-- <div class="container" ng-app="ProjectModule" ng-controller="ProjectController">
    <button ng-click="increase()">INCREASE</button>
    <br>
    <h1>
      {{count}}
    </h1>

    <textarea name="" rows="20" cols="40" ng-model="message" id=""></textarea>
    <br>
    <button ng-disabled="message < 1" class="success w-full" ng-click="save()">SAVE TEXT</button>
  </div> -->

  <!--//^ EXAM 13 -->
  <div class="container">
    <div class="input__wrapper">
      <input type="text" placeholder="Search" ng-model="product__filter">
    </div>

    <div class="products__wrapper">
      <div class="single__product {{item.isDone && 'green'}}" ng-repeat="item in products  | filter : product__filter">
        {{item.id}}.{{item.title}}
      </div>
    </div>

  </div>

</body>

</html>