:root {
  --border: #ffffff20;
}

body {
  background-color: #101010;
  color: #fafafa;
  padding: 0;
  margin: 0;
  direction: ltr;

  * {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }
  li {
    margin: 4px 8px;
  }
}

input {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border: none;
  outline: 2px solid #ffffff40;
  border-radius: 4px;
  margin: 8px;
}

button {
  border: none;
  outline: 2px solid #ffffff30;
  background-color: black;
  color: white;
  padding: 6px 24px;
  border-radius: 24px;
  text-transform: uppercase;
  margin: 8px;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: #151515;
  }

  &:active {
    scale: 0.95;
  }

  &.success {
    background-color: rgb(11, 104, 11);
  }

  &.w-full {
    width: 308px;
    margin: 12px 0;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
    background-color: #ffffff10;
  }
}

textarea {
  border: none;
  outline: 5px solid #ffffff20;
  border-radius: 12px;
  resize: none;
  padding: 8px;
  background-color: #303030;
  color: white;
  margin: 8px 0;
}

th,
td {
  text-align: center;
}

th {
  background-color: #404040;
}

.container {
  max-width: min(1024px, 95%);
  margin: 16px auto;
  padding: 8px;
  border-radius: 20px;
  background-color: #191919;
  min-height: 80dvh;
  max-height: 80dvh;
  overflow-y: auto;
  scrollbar-width: none;
  border: 2px solid #ffffff40;
  padding-inline: 12px;
}

.headTitle {
  background-color: rgba(139, 0, 0, 0.748);
  padding: 16px;
  margin-bottom: 16px;
  position: sticky;
  inset: 0;
}

.single__name {
  background-color: #202020;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ffffff10;

  &:hover {
    background-color: #202020;
  }
}

.error__text {
  color: rgb(216, 60, 60);
  text-transform: uppercase;
  background-color: black;
  width: fit-content;
  padding: 4px 12px 4px 6px;
  border-radius: 24px;
  outline: 2px solid #ffffff10;
}

.input__wrapper {
  border-bottom: 2px solid var(--border);
  padding-bottom: 8px;
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  border-bottom: 2px solid var(--border);
}

.result__item {
  background-color: black;
  width: fit-content;
  width: -webki-fit-content;
  padding: 4px 8px;
  border-radius: 6px;
  outline: 2px solid var(--border);
}
