body {
  background-color: #101010;
  color: #fafafa;
  padding: 0;
  margin: 0;

  * {
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
}

input {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border: none;
  outline: 2px solid #ffffff40;
  border-radius: 4px;
  margin: 8px;
}

.container {
  max-width: min(1440px, 95%);
  margin: 16px auto;
  padding: 0;
}

.headTitle {
  background-color: rgba(139, 0, 0, 0.748);
  padding-inline: 8px;
  border-radius: 8px;
  outline: 4px solid #ffffff30;
  margin-bottom: 16px;
}
